/* Design @ CUNY Styles */




body{
  body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color:#fff;
  }
}


#wrapper{
  max-width:1200px;
  padding: 1em;

}


p, h1, h2, h3, h4{
  margin-bottom: 1em;
}


h1, h2, h3, h4{
  font-weight: bold;

}

h1{
  box-shadow: 5px 20px 10px 0 rgba(0, 0, 0, 0.5), 20px 5px 5px 0 hotpink;
}

a{
  color:black;
  text-decoration: none;
}


a:hover{
  color: grey;
}


.button{
  display:block;
  padding:0.5em;
  color:#fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  width: fit-content;
  margin: 1em;
}


.img-responsive{
  width:100%;
}

/* header navigation */

.site-header{
  display: flex;
  justify-content: space-between;
}


.menu{
  display: none;
}


.show-menu{
  background-color: transparent;
  border: none;
}


.search-programs{
  min-height: 8ems;
  border: solid 1.5px #000000;
  border-radius: 10px;
  padding: 2.5em;
  margin-bottom: 2em;
  background-color:#fff;

}



.search-programs li{
  display:block;

}



.search-programs li:hover .dropdown{
display:block;
}


.program-menu li{
  display:inline-block;
  margin-right: 15em;

}




.dropdown li{
  display:block;
  border: solid 1px #fff;
  padding:0.5em 2em;
  margin-right: 0;
}

.dropdown{
  background-color: #e3e3e3;
  padding:0;
  position:absolute;
  display: none;
}


.hero-banner{
  min-height: 12em;
  background-image: url("images/queenscollege.jpg");
  padding: 1em;
  margin-bottom:1em;
  height:300px

}

.hero-banner a{
  color:white;
}



.events img{
  width: 100%;
}


@media (min-width: 768px){

  .show-menu{
    display: none;
  }

  .menu{
    display:flex;
  }
  .menu li{
    display: inline;
    margin-right: 2em;
  }

  .layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
  }

.program-card{
  width: 70%;
}

.


} /* Closing media query */
